---

---

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>TailwindCSS as an API</title>
    <meta property="title" name="title" content="TailwindCSS as an API" />
    <meta property="description" name="description" content="An easy to use API that generates TailwindCSS on the fly." />
    <meta property="author" name="author" content="Rishi Raj Jain" />
    <meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <meta property="og:locale" content="en_IN" />
    <meta name="og:type" property="og:type" content="website" />
    <meta name="og:title" property="og:title" content="TailwindCSS as an API" />
    <meta name="og:description" property="og:description" content="An easy to use API that generates TailwindCSS on the fly." />
    <meta name="og:url" property="og:url" content="https://tailwindcss-on-fly.fly.dev" />
    <meta name="og:image" property="og:image" content="https://tailwindcss-on-fly.fly.dev/seo.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@rishi_raj_jain_" />
    <meta name="twitter:title" content="TailwindCSS as an API" />
    <meta name="twitter:description" content="An easy to use API that generates TailwindCSS on the fly." />
    <meta name="twitter:image" content="https://tailwindcss-on-fly.fly.dev/seo.png" />
    <meta name="twitter:label1" content="Tailwind As An API" />
    <meta name="twitter:data1" content="Just a POST request" />
    <meta name="twitter:label2" content="Built With" />
    <meta name="twitter:data2" content="https://launchfa.st" />
  </head>
  <body class="bg-gray-800">
    <div class="mt-8 px-8 py-2">
      <h1 class="text-2xl text-white">TailwindCSS as an API</h1>
      <h2 class="mt-2 text-lg text-gray-400">An easy to use API that generates TailwindCSS on the fly.</h2>
    </div>
    <div class="flex flex-col md:flex-row">
      <div class="flex w-full flex-col p-8 md:w-1/2">
        <div class="flex flex-row gap-x-2">
          <button class="rounded border border-gray-300 px-2 text-gray-300">HTML</button>
        </div>
        <textarea placeholder="Enter HTML" class="mt-2 h-[50vh] w-screen max-w-full rounded border border-white/25 bg-transparent p-8 text-white outline-none" id="textarea"
        ></textarea>
        <a
          target="_blank"
          href="https://launchfa.st?ref=tailwindcssonfly"
          class="mt-8 flex max-w-max flex-row items-center rounded border border-branding px-2 py-1 text-gray-400 hover:scale-[101%]"
        >
          <span>Built with</span>
          <div class="ml-2 flex flex-row items-center">
            <img height="20" width="20" src="https://www.launchfa.st/purple-icon.png" />
            <span class="ml-1">LaunchFa.st</span>
          </div>
        </a>
      </div>
      <div class="flex w-full flex-col p-8 md:w-1/2">
        <div class="flex flex-row gap-x-2">
          <button id="output-button" class="rounded border border-gray-300 px-2 text-gray-300">Output CSS</button>
          <button id="base-button" class="rounded border border-gray-600 px-2 text-gray-600">Base CSS</button>
        </div>
        <textarea
          placeholder="Generated TailwindCSS will appear here"
          class="mt-2 h-[50vh] w-screen max-w-full rounded border border-white/25 bg-transparent p-8 text-white outline-none"
          id="output-textarea"></textarea>
        <textarea
          placeholder="Generated TailwindCSS will appear here"
          class="mt-2 hidden h-[50vh] w-screen max-w-full rounded border border-white/25 bg-transparent p-8 text-white outline-none"
          id="base-textarea"></textarea>
      </div>
    </div>

    <div class="flex flex-col md:flex-row">
      <div class="flex w-full flex-col p-8 md:w-1/2">
        <div class="flex flex-row gap-x-2">
          <button class="rounded border border-gray-300 px-2 text-gray-300">cURL</button>
        </div>
        <textarea disabled readonly class="mt-2 h-[50vh] w-screen max-w-full rounded border border-white/25 bg-transparent p-8 text-white outline-none" id="curl-textarea"
        ></textarea>
      </div>
      <div class="flex w-full flex-col p-8 md:w-1/2">
        <div class="flex flex-row gap-x-2">
          <button class="rounded border border-gray-300 px-2 text-gray-300">Response</button>
        </div>
        <textarea
          disabled
          readonly
          placeholder="Generated TailwindCSS will appear here"
          class="mt-2 h-[50vh] w-screen max-w-full rounded border border-white/25 bg-transparent p-8 text-white outline-none"
          id="fixed-textarea"></textarea>
      </div>
    </div>

    <script is:raw>
      document.querySelector('#textarea').value = `<div class="flex flex-col">
        <span class="text-2xl">
               This is built with LaunchFa.st
        </span>
</div>`
      function loadCSS() {
        const textareaValue = document.querySelector('#textarea').value
        fetch('/api', { method: 'POST', body: JSON.stringify({ html: textareaValue }), headers: { 'Content-Type': 'application/json' } })
          .then((response) => response.text())
          .then((data) => (document.querySelector('#output-textarea').value = data))
      }
      function loadFixedCSS() {
        const textareaValue = `<div class="flex flex-col">
          <span class="text-2xl">
                 This is built with LaunchFa.st
          </span>
  </div>`
        fetch('/api', { method: 'POST', body: JSON.stringify({ html: textareaValue }), headers: { 'Content-Type': 'application/json' } })
          .then((response) => response.text())
          .then((data) => (document.querySelector('#fixed-textarea').value = data))
      }
      function loadBaseCSS() {
        fetch('/api/preflight')
          .then((response) => response.text())
          .then((data) => (document.querySelector('#base-textarea').value = data))
      }
      function resetButtons() {
        document.querySelector('#base-button').classList.remove('text-gray-300')
        document.querySelector('#base-button').classList.remove('text-gray-600')
        document.querySelector('#base-button').classList.remove('border-gray-300')
        document.querySelector('#base-button').classList.remove('border-gray-600')
        document.querySelector('#output-button').classList.remove('text-gray-300')
        document.querySelector('#output-button').classList.remove('text-gray-600')
        document.querySelector('#output-button').classList.remove('border-gray-300')
        document.querySelector('#output-button').classList.remove('border-gray-600')
      }
      loadCSS()
      loadBaseCSS()
      loadFixedCSS()
      document.querySelector('#curl-textarea').value = `curl --location 'https://tailwindcss-on-fly.fly.dev/api' \\
--header 'Content-Type: application/json' \\
--data '{
  "html": "<div class=\\"flex flex-col\\"><span class=\\"text-2xl\\">This is built with LaunchFa.st</span></div>"
}'`
      document.querySelector('#textarea').addEventListener('input', loadCSS)
      document.querySelector('#base-button').addEventListener('click', () => {
        resetButtons()
        document.querySelector('#base-button').classList.value += ' border-gray-300 text-gray-300'
        document.querySelector('#output-button').classList.value += ' border-gray-600 text-gray-600'
        document.querySelector('#base-textarea').classList.value = document.querySelector('#base-textarea').classList.value.replaceAll('hidden', '')
        document.querySelector('#output-textarea').classList.value = document.querySelector('#output-textarea').classList.value.replaceAll('hidden', '') + ' hidden'
      })
      document.querySelector('#output-button').addEventListener('click', () => {
        resetButtons()
        document.querySelector('#base-button').classList.value += ' border-gray-600 text-gray-600'
        document.querySelector('#output-button').classList.value += ' border-gray-300 text-gray-300'
        document.querySelector('#output-textarea').classList.value = document.querySelector('#output-textarea').classList.value.replaceAll('hidden', '')
        document.querySelector('#base-textarea').classList.value = document.querySelector('#base-textarea').classList.value.replaceAll('hidden', '') + ' hidden'
      })
    </script>
  </body>
</html>
